
body, html {
    margin: 0;
    padding: 0;
    font-family: 'arial';
 
}
.cabeçalho{
    background-color: #f9a91a;
    padding: 10px;
    color: #000;
    font-weight: 600;
}
nav{
    background-color: #2e2e2a;
    width: 100%;
    display: flex;
    justify-content: center;
    height:50px;
    font-family: 'Arial';
}
ul{
      padding: 0;
      margin: 0;
      line-height: 20px;
      align-items: center; 
      list-style: none;
      position: relative;
}
ul li{
      width: 150px;
      float: left;
}
 a{
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #2e2e2a;
      color: #fff;
}
 ul ul {
      position: absolute;
      visibility: hidden;
  }
 ul li:hover ul{
      visibility: visible;
  }
 a:hover{
      background: #ccc;
      color: #000;
  }
   ul ul li{
      float: none;
      border-bottom: solid 1px #ccc;
      text-align: center;
 }
textarea{
    font-family: 'helvetica';
    font-weight: 400px;
    resize: none;
}
div.anotar{
    padding: 40px;
    overflow: auto;
}
#sendNote {
    display: block;
    width: 60px;
    height: 30px;
    font-family: 'comic sans';
    background-color:silver;
    border: 2px solid #fff;
    float: center;
    border-radius: 10px;
   }
#sendNote:hover{
    background-color: gray;
}
.notes{
    padding: 20px;
    margin: 5px auto;
    background-color: #fff;
    width: 800px;
    float: center;
}
#note{
    font-size: 20px;
    font-family: 'helvetica';
}
#limiteTexto{
    font-size: 20px;
    font-weight: 700;
}
.styleColor{
    padding: 4px;
    border-radius: 20px;
    background-color: aquamarine;
}
#note p{
    color: purple;
    margin-left: 10px;
}
