body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.cabeçalho{
    background-color: #f9a91a;
    padding: 10px;
    color: #fff;
    font-weight: 600;
}
.logo{
    width: 30%;
}
nav{
    background-color: #2e2e2a;
    width: 100%;
    display: flex;
    justify-content: center;
    height:50px;
}
ul{
      padding: 0;
      margin: 0;
      line-height: 20px;
      align-items: center;
      list-style: none;
      position: relative;
}
ul li{
      width: 150px;
      float: left;
}
 a{
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: #2e2e2a;
      color: #fff;
}
 ul ul {
      position: absolute;
      visibility: hidden;
  }
 ul li:hover ul{
      visibility: visible;
  }
 a:hover{
      background: #ccc;
      color: #000;
  }
   ul ul li{
      float: none;
      border-bottom: solid 1px #ccc;
      text-align: center;
 }
textarea{
    font-weight: 400px;
    resize: none;
}
div.anotar{
    padding: 40px;
    overflow: auto;
}
#sendNote {
    width: 200px;
    height: 30px;
    float: left;
    border: none;
    margin-left: 260px;
    font-weight: bold;
    border-radius: 15px;
   }
.notes{
    padding: 20px;
    margin: 5px auto;
    width: 800px;
}
#note{
    font-size: 20px;
}
#limiteTexto{
    font-size: 20px;
    font-weight: bold;
    color: #f9a91a;
}
.styleColor{
    padding: 10px;
    border-radius: 20px;
    background-color: #f9a91a;
}